    @using Knihovna.DTO
    @model IEnumerable< EmployeeDto>
<!-- Main Container -->
<div class="container mt-5">
    <!-- Empployee List -->
    <h2>Seznam zaměstnanců</h2>

    <div>
        <a asp-action="Create" class="btn btn-success">Přidat zaměstnance</a>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>DateOfBirth</th>
                <th>Editovat</th>
                <th>Smazat</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in Model)
            {
                <tr>
                    <td>@employee.FirstName</td>
                    <td>@employee.LastName</td>
                    <td>@employee.DateOfBirth.ToShortDateString()</td>            
                    <td>
                        <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@employee.Id">Editovat</a>
                    </td>
                    <td>
                        <form method="post">
                            <button type="submit" asp-route-id="@employee.Id" asp-action="Delete" class="btn btn-danger btn-sm">Smazat</button>
                        </form>
                    </td>
                </tr>         
            }
        </tbody>
    </table>
</div>

 
