    @using Knihovna.DTO
    @model IEnumerable< BookDto>
<!-- Main Container -->
<div class="container mt-5">
	<!-- Book List -->
	<h2>Seznam knih</h2>

	<div>
		<a asp-action="Create" class="btn btn-success">Přidat knihu</a>
	</div>
		@foreach (var book in Model)
		{
	<table class="table table-bordered table-striped ">
			<thead>
				<tr>
					@if (book.Borrowed && Convert.ToDateTime(book.DateOfReturn) < DateTime.Now)
					{
						<td colspan="5" style="background-color:red;"></td>
					}
					else
					{
						<td colspan="5" style="background-color: lightcyan;"></td>
					}

				</tr>
				<tr>
					<th>Titul</th>
					<th>Autor</th>
					<th>Žánr</th>
					<th>Rok</th>
					<th>ISBN</th>

				</tr>
			</thead>
			<tbody>
				<tr>
					<td>@book.Title</td>
					<td>@book.AuthorName</td>
					<td>@book.Genre</td>
					<td>@book.Year</td>
					<td>@book.ISBN</td>

				</tr>
				<tr>
					<th colspan="5">Popis</th>
				</tr>
				<tr>
					<td colspan="5">@book.Description</td>
				</tr>
				<tr>
					<td>
						@if (book.Reserved)
						{
						<td>
							<form method="post" class="form-inline">
								<button type="submit" asp-route-id="@book.Id" asp-action="RezervationCancel" class="btn btn-danger btn-sm">Zrušit rezervaci</button>
							</form>
							<span>Rezervováno</span><br />
							<span>@book.UserWhoReservedId</span><br />
							<span>@book.UserWhoReservedName</span>
						</td>
						}
						else
						{
						<td>
							<form method="post" class="form-inline">
								<button type="submit" asp-route-id="@book.Id" asp-action="Rezervation" class="btn btn-danger btn-sm">Rezervovat knihu</button>
							</form>
						</td>
						}
						@if (book.Borrowed)
						{

						<td>
							<form method="post" class="form-inline">
								<button type="submit" asp-route-id="@book.Id" asp-action="BorrowCancel" class="btn btn-danger btn-sm">Vrátit knihu</button>
							</form>
								@if (Convert.ToDateTime(book.DateOfReturn) > DateTime.Now)
								{
								<span>Půjčeno do </span>
								<span>@book.DateOfReturn</span>
								<br />
								}
								else
								{
								<span>Půjčeno do </span>
								<span>@book.DateOfReturn</span>
								<span style="color: red;"> UPOMÍNKA !!!</span>
								<br />
								}

							<span>@book.UserWhoBorrowedId</span><br />
							<span>@book.UserWhoBorrowedName</span>
						</td>
						}
						else
						{
						<td>
							<form method="post" class="form-inline">
								<button type="submit" asp-route-id="@book.Id" asp-action="Borrow" class="btn btn-danger btn-sm">Půjčit knihu</button>
							</form>
						</td>
						}
					<td><a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@book.Id">Editovat</a></td>
					<td>
						<form method="post" class="form-inline">
							<button type="submit" asp-route-id="@book.Id" asp-action="Delete" class="btn btn-danger btn-sm">Smazat</button>
						</form>
					</td>
					</td>
				</tr>
			</tbody>
	</table>
		}

