    @using Knihovna.DTO
	@using System.Globalization
    @model IEnumerable< BookDto>
<!-- Main Container -->
<div class="container mt-5">
	<div style="background-color: lightcyan;">
		<!-- Book List -->
		<h1 class="text-center">Seznam knih</h1>
		<div class="container mt-5">
			<form method="get">
				<div class="d-flex flex-row align-self-center mb-3">
					<div class="form-group mx-sm-3 mb-2">
						<label for="Title">Titul</label>
						<input type="text" class="form-control" id="Title" name="Title" placeholder="Zadejte titul knihy">
					</div>
					<div class="form-group mx-sm-3 mb-2">
						<label for="AuthorName">Autor</label>
						<input type="text" class="form-control" id="AuthorName" name="AuthorName" placeholder="Zadejte jméno autora">
					</div>
					<div class="form-group mx-sm-3 mb-2">
						<label for="Genre">Žánr</label>
						<input type="text" class="form-control" id="Genre" name="Genre" placeholder="Zadejte žánr">
					</div>
					<div class="form-group mx-sm-3 mb-2">
						<label for="Year">Rok</label>
						<input type="text" class="form-control" id="Year" name="Year" placeholder="Zadejte rok">
					</div>
					<div class="form-group mx-sm-3 mb-2">
						<label for="ISBN">ISBN</label>
						<input type="text" class="form-control" id="ISBN" name="ISBN" placeholder="Zadejte ISBN">
					</div>
					<div class="form-group  mx-sm-3 mb-2 align-self-end">
						<button type="submit" class="btn btn-primary">Vyhledat</button>
					</div>
				</div>
			</form>
		</div>
		<div class="container mt-5">
			<div class="d-flex flex-row align-self-center mb-3">
				<div class="form-group mx-sm-3 mb-2">
					<a class=" " asp-action="Index" asp-route-orderby="title">Řadit podle titulu</a>
				</div>
				<div class="form-group mx-sm-3 mb-2">
					<a class=" " asp-action="Index" asp-route-orderby="author">Řadit podle autora</a>
				</div>				<div class="form-group mx-sm-3 mb-2">
					<a class=" " asp-action="Index" asp-route-orderby="genre">Řadit podle žánru</a>
				</div>
				<div class="form-group mx-sm-3 mb-2">
					<a class=" " asp-action="Index" asp-route-orderby="year">Řadit podle roku</a>
				</div>				
				<div class="form-group mx-sm-3 mb-2">
					<a class=" " asp-action="Index" asp-route-orderby="isbn">Řadit podle ISBN</a>
				</div>
			</div>
		</div>
		@if ( User.IsInRole("Admin") || User.IsInRole("Knihovník"))
		{
			<hr />
			<div>
				<a asp-action="Create" class="btn btn-success w-100 ">Přidat knihu</a>
			</div>
		}
		<hr />
	</div>
	@foreach (var book in Model)
	{
		DateTime DateOfReturn;
		@if (!string.IsNullOrEmpty(book?.DateOfReturn)) { DateOfReturn = DateTime.ParseExact(book.DateOfReturn, "dd.MM.yyyy", CultureInfo.InvariantCulture); }
		else { DateOfReturn = DateTime.MinValue; }

		<table class="table table-secondary table-bordered table-striped">
			<thead>
				<tr>
					@if (book is not null && book.Borrowed && DateOfReturn < DateTime.Now)
					{
						<td colspan="5" style="background-color:red;"></td>
					}
					else
					{
						<td colspan="5" style="background-color: lightcyan;"></td>
					}

				</tr>
				<tr>
					<th>Titul	</th>
					<th>Autor</th>
					<th>Žánr</th>
					<th>Rok</th>
					<th>ISBN</th>

				</tr>
			</thead>
			<tbody>
				<tr>
					<td>@book.Title</td>
					<td>@book.AuthorName</td>
					<td>@book.Genre</td>
					<td>@book.Year</td>
					<td>@book.ISBN</td>

				</tr>
				<tr>
					<th colspan="5">Popis</th>
				</tr>
				<tr>
					<td colspan="5">@book.Description</td>
				</tr>
				<tr>
					<td colspan="5" class="table-primary">
						<div class="d-flex flex-wrap justify-content-between ">
							<div class="d-flex  ">
								<div style="width:150px;">
									@if (book.Reserved)
									{
										@if ( User.IsInRole("Admin") || User.IsInRole("Knihovník"))
										{
											<form method="post" class="form-inline">
												<button type="submit" asp-route-id="@book.Id" asp-action="RezervationCancel" class="btn btn-outline-danger  w-100">Zrušit rezervaci</button>
											</form>


											<br />
											@* <span>@book.UserWhoReservedId</span><br /> *@
											<span>@book.UserWhoReservedName</span>

											<br />
											<span>@book.UserWhoReservedEmail</span>

											<br />
										}
										<span style="color: red;"> Rezervováno</span>


									}
									else
									{

										<form method="post" class="form-inline">
											<button type="submit" asp-route-id="@book.Id" asp-action="Rezervation" class="btn btn-warning w-100">Rezervovat knihu</button>
										</form>
									}
								</div>

								<div class="ms-1" style="width:150px;">
									@if (book.Borrowed)
									{
										@if (  User.IsInRole("Admin") || User.IsInRole("Knihovník"))
										{

											<form method="post" class="form-inline">
												<button type="submit" asp-route-id="@book.Id" asp-action="BorrowCancel" class="btn btn-outline-danger  w-100">Vrátit knihu</button>
											</form>
											<span>@book.UserWhoBorrowedName</span>

											<br />
											<span>@book.UserWhoBorrowedEmail</span>	<br />
										}
										@if (DateOfReturn > DateTime.Now)
										{
											<span style="color: red;"> Půjčeno do </span>
											<span>@book.DateOfReturn</span>
											<br />
										}
										else
										{
											<span style="color: red;"> Půjčeno do </span>
											<span>@book.DateOfReturn</span>
											<span style="color: red;"> UPOMÍNKA !!!</span>	<br />
										}


									}
									else
									{
										if ( User.IsInRole("Admin") || User.IsInRole("Knihovník"))
										{
											if (book.Reserved)
											{
												<form method="post" class="form-inline">
													<button type="submit" asp-route-id="@book.Id" asp-action="Borrow" class="btn btn-success w-100">Půjčit knihu</button>
												</form>
											}

										}
									}
								</div>
							</div>
							@if ( User.IsInRole("Admin") || User.IsInRole("Knihovník"))
							{

								<div class="d-flex justify-content-end ">
									<div>
										<a class="btn btn-outline-primary w-100" asp-action="Edit" asp-route-id="@book.Id">Editovat</a>
									</div>
									<div>
										<button type="button" class="btn btn-outline-danger  w-100" data-bs-toggle="modal" data-bs-target="#deleteModal">
											Smazat
										</button>
									</div>
								</div>
								<!-- Button trigger modal -->
							

								<!-- Modal -->
								<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
												<h1 class="modal-title fs-5" id="ModalLabel">Smazat knihu</h1>
												<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
											</div>
											<div class="modal-body">
												Opravdu chcete knihu smazat?
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zrušit</button>
												<form method="post" class="form-inline">
													<button type="submit" asp-route-id="@book.Id" asp-action="Delete" class="btn btn-outline-danger  w-100">Smazat</button>
												</form>
											</div>
										</div>
									</div>
								</div>
							}
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	}

