    @using Knihovna.DTO
    @model IEnumerable< BookDto>
<!-- Main Container -->
<div class="container mt-5">
	<!-- Book List -->
	<div style="background-color: lightcyan;">

		<h1 class="text-center">Seznam rezervovaných knih</h1>
		<hr />	 
	</div>
	@foreach (var book in Model)
	{
		<table class="table table-secondary table-bordered table-striped table-hover">
			<thead>
				<tr>
					@if (book.Borrowed && Convert.ToDateTime(book.DateOfReturn) < DateTime.Now)
					{
						<td colspan="5" style="background-color:red;"></td>
					}
					else
					{
						<td colspan="5" style="background-color: lightcyan;"></td>
					}

				</tr>
				<tr>
					<th>Titul	</th>
					<th>Autor</th>
					<th>Žánr</th>
					<th>Rok</th>
					<th>ISBN</th>

				</tr>
			</thead>
			<tbody>
				<tr>
					<td>@book.Title</td>
					<td>@book.AuthorName</td>
					<td>@book.Genre</td>
					<td>@book.Year</td>
					<td>@book.ISBN</td>

				</tr>
				<tr>
					<th colspan="5">Popis</th>
				</tr>
				<tr>
					<td colspan="5">@book.Description</td>
				</tr>
				<tr>
					<td colspan="5" class="table-primary">
						<div class="d-flex flex-wrap justify-content-between ">
							<div class="d-flex  ">
								<div style="width:150px;">
									@if (book.Reserved)
									{
										@if (User.Identity.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("Knihovník"))
										{
											<form method="post" class="form-inline">
												<button type="submit" asp-route-id="@book.Id" asp-action="RezervationCancel" class="btn btn-outline-danger  w-100">Zrušit rezervaci</button>
											</form>

											<br />
										}
										<span>@book.UserWhoReservedName</span>

										<br />
										<span>@book.UserWhoReservedEmail</span>

										<br />
										<span style="color: red;"> Rezervováno</span>
									}
									else
									{

										<form method="post" class="form-inline">
											<button type="submit" asp-route-id="@book.Id" asp-action="Rezervation" class="btn btn-warning w-100">Rezervovat knihu</button>
										</form>
									}
								</div>

								<div class="ms-1" style="width:150px;">
									@if (book.Borrowed)
									{
										@if (User.Identity.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("Knihovník"))
										{

											<form method="post" class="form-inline">
												<button type="submit" asp-route-id="@book.Id" asp-action="BorrowCancel" class="btn btn-outline-danger  w-100">Vrátit knihu</button>
											</form>
										}
										<span>@book.UserWhoBorrowedName</span>

										<br />
										<span>@book.UserWhoBorrowedEmail</span>	<br />
										@if (Convert.ToDateTime(book.DateOfReturn) > DateTime.Now)
										{
											<span style="color: red;"> Půjčeno do </span>
											<span>@book.DateOfReturn</span>
											<br />
										}
										else
										{
											<span style="color: red;"> Půjčeno do </span>
											<span>@book.DateOfReturn</span>
											<span style="color: red;"> UPOMÍNKA !!!</span>	<br />
										}


									}
									else
									{
										@if (User.Identity.IsAuthenticated && User.IsInRole("Admin") || User.IsInRole("Knihovník"))
										{
											@if (book.Reserved)
											{
												<form method="post" class="form-inline">
													<button type="submit" asp-route-id="@book.Id" asp-action="Borrow" class="btn btn-success w-100">Půjčit knihu</button>
												</form>
											}

										}
									}
								</div>
							</div>
							 
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	}

