@using Knihovna.ViewModels;
@model IEnumerable<UserVM>

@{
	ViewData["Title"] = "READ USER";
}
<div class="container mt-5"	style="background-color: lightcyan;">
	<h1 class="text-center">Uživatelé</h1>

	@*tlačítko pro vytvoření nového uživatele*@
	<a asp-action="Create" class="btn btn-success w-100">Zaregistrovat nového uživatele</a>
	@*tabulka bude mít vyznačené okraje*@
	<div class="table-responsive">
 
		@foreach (var user in Model)
		{
	<table class="table table-secondary table-bordered table-striped">
 
		<thead>

			<tr>
				@*<th> = table header*@
				@* <th class="col">ID</th> *@
				<th>ID</th>
				<th>Funkce</th>
				<th>Jméno</th>
				<th>Příjmení</th>
			</tr>

		</thead>
			<tbody>

				<tr>
					@* <td>@user.Id</td> *@
					<td>@user.AppUserId</td>
					<td>@user.RoleNames</td>
					<td>@user.FirstName</td>
					<td>@user.LastName</td>
				</tr>
			</tbody>
			<thead>
					<tr >
						<th colspan="2">Login</th>
						<th colspan="2">Email</th>
		 
					</tr>
			</thead>
			<tbody>

				<tr>
						<td colspan="2">@user.UserName</td>
						<td colspan="2">@user.Email</td>
					
				</tr>
				<tr>
						 
						@if (user.Email != "Admin@seznam.cz")
						{
							<td colspan="2"></td>
							<td >
								<a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@user.AppUserId"> Update</a>
							</td>
							<td >
								<form asp-route-id="@user.Id" asp-action="Delete" method="post">
									<button type="submit" asp-action="Delete" asp-route-id="@user.Id" class="btn btn-sm btn-danger">Delete</button>
								</form>
							</td>
						}
						else
						{
							<td colspan="4"></td>
							
						 
						}
				</tr>
			</tbody>
	</table>
		}
</div>
</div>