@using Knihovna.Models
@model RoleEdit
@{
	ViewData["Title"] = "UPDATE ROLE";
}
<div class="form-group p-3" style="background-color: lightcyan;">
	<h3 class="text-center">Editovat roli</h3>

	<div asp-validation-summary="All" class="text-danger"></div>

	<form method="post" asp-action="Edit">
		<input type="hidden" name="roleName" value="@Model.Role.Name" />
		<input type="hidden" name="roleId" value="@Model.Role.Id" />

		<h4 class="text-center">Přidat do @Model.Role.Name</h4>
		<table class="table table-secondary table-bordered table-striped">
			@if (Model.NonMembers.Count() == 0)
			{
				<tr><td colspan="2">Všichni uživatelé jsou členové</td></tr>
			}
			else
			{
				@foreach (AppUser user in Model.NonMembers)
				{
					<tr>
						<td class="col-6">@user.UserName</td>
						<td class="col-6">
							<div class="form-check form-switch">
								<input class="form-check-input" name="AddIds" value="@user.Id" type="checkbox" role="switch" id="flexSwitchCheckChecked">
								<label class="form-check-label" for="flexSwitchCheckChecked">Přidat</label>
							</div>
							@* <input type="checkbox" name="AddIds" value="@user.Id"> *@
						</td>
					</tr>
				}
			}
		</table>

		<h4 class="text-center">Odstranit z @Model.Role.Name</h4>
		<table class="table table-secondary table-bordered table-striped">
			@if (Model.Members.Count() == 0)
			{
				<tr><td colspan="2">Nikdo není členem</td></tr>
			}
			else
			{
				@foreach (AppUser user in Model.Members)
				{
					<tr>
						<td class="col-6">@user.UserName</td>
						@if (user.Email != "Admin@seznam.cz")
						{
							<td class="col-6">
								<div class="form-check form-switch">
									<input class="form-check-input" name="DeleteIds" value="@user.Id" type="checkbox" role="switch" id="flexSwitchCheckChecked">
									<label class="form-check-label" for="flexSwitchCheckChecked">Odebrat</label>
								</div>
								@* <input type="checkbox" name="DeleteIds" value="@user.Id"> *@
							</td>
						}

					</tr>
				}
			}
		</table>
		<div class="form-group">
			<button type="submit" class="btn btn-success w-100">Uložit</button>
		</div>
	</form>
</div>
